.wit-modal{

  &:not(&.wit-modal-active){
    animation:OpacityCloseModal .2 ease-out both;
    >div:nth-child(1){
      transition:.2s;
      animation: ShowModal .5s ease-in-out forwards;
    }

    >div:nth-child(2){
      transition:.2s;
      // animation: OpacityCloseModal .5s ease-out forwards;
    }
  }
  &.wit-modal-active{

    >div:nth-child(1){
      transition:.2s;
      animation: ShowModal .5s ease-in-out forwards;
    }

    >div:nth-child(2){
      transition:.2s;
      animation: OpacityBgModal .5s ease-in forwards;
    }
  }
}
